%h1.my-3 Employees list

= link_to 'Home', root_path, class: 'btn btn-outline-primary'
= link_to 'New employee', new_employee_path, class: 'btn btn-outline-success'

%table.table.table-striped.mt-4
  %tr
    %th Name
    %th Surname
    %th Action

  - @employees.each do |employee|
    %tr
      %td= employee.name
      %td= employee.surname
      %td
        = link_to 'Show', employee_path(employee), class: 'btn btn-outline-primary'
        = link_to 'Edit', edit_employee_path(employee), class: 'btn btn-outline-warning'
        - if employee.orders.length > 0
          %button.btn.btn-outline-danger{ disabled: 'disabled', type: 'button'} Delete employee*
        - else
          = link_to 'Delete employee', employee_path(employee), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger'

%p *delete all employee orders to delete employee
