.row
  .col-10
    = render 'shared/errors', obj: @order

    = form_with(model: @order, class: 'shadow p-3 mb-3 bg-info rounded', local: true) do |f|
      .form-group.row
        .col-10
          = f.collection_select(:employee_id, Employee.all, :id, :surname, { prompt: 'Select employee'})
      .form-group.row
        .col-10
          = f.collection_select(:bicycle_id, Bicycle.all, :id, :manufacturer, { prompt: 'Select bicycle'})
      .form-group.row
        .col-10
          Select start date and time
        .col-10
          = f.datetime_select :start_time
      .form-group.row
        .col-10
          Select end date and time
        .col-10
          = f.datetime_select :end_time, class: 'form-control'
      .form-group.row.justify-content-center
        = f.submit class: 'btn btn-outline-light btn-lg'
