%h1.my-3 Order list

= link_to 'Employees', employees_path, class: 'btn btn-outline-primary'
= link_to 'Bicycles', bicycles_path, class: 'btn btn-outline-primary'
= link_to 'New order', new_order_path, class: 'btn btn-outline-success'

%table.table.table-striped.mt-4
  %tr
    %th Id
    %th Employee
    %th Bicycle
    %th Start time
    %th End time
    %th Action

  - @orders.each do |order|
    %tr
      %td= order.id
      %td
        = Employee.find(order.employee_id).name
        = Employee.find(order.employee_id).surname
      %td
        = Bicycle.find(order.bicycle_id).manufacturer
        = Bicycle.find(order.bicycle_id).serial_number
      %td= order.start_time.localtime.strftime('%Y/%m/%d %H:%M')
      %td= order.end_time.localtime.strftime('%Y/%m/%d %H:%M')
      %td
        = link_to 'Show', order_path(order), class: 'btn btn-outline-primary'
        = link_to 'Edit', edit_order_path(order), class: 'btn btn-outline-warning'
        = link_to 'Delete', order_path(order), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger'
